body, html {
    display: flex;
    top: -2px;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0;
    height: calc(100vh - 4px);
    width: calc(100vw - 2px);
    border: 1px solid rebeccapurple;
}
#player {
    box-sizing: border-box;
    height: calc(100vh - 2px);
    width: calc(80vw - 2px);
    border: 1px solid rebeccapurple;
}
#chat {
    box-sizing: border-box;
    height: calc(100vh - 2px);
    width: calc(20vw - 2px);
    border: 1px solid rebeccapurple;
}

@media screen and (max-width: 1130px) {
    body, html {
        flex-wrap: wrap;
        overflow: auto;
    }
    #player {
        height: calc(40vh - 2px);
        width: calc(100vw - 2px);
    }
    #chat {
        height: calc(60vh - 2px);
        width: calc(100vw - 2px);
    }
}